*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: arial;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    background-color: #fcfcfc;
}
.card-wrapper{
    width: 77%;
    margin: 0px auto;
}
.card{
    display: inline-block;
    width: 25%;
    margin: 40px;
    background-color: #fff;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
.card-image{
    width: 100%;
}
.card-image img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-content{
    padding: 10px 14px;
}
.card-content div:first-child{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
}
.card-content div:last-child{
    text-align: left;
    letter-spacing: 1px;
}
.video-container{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: auto;
}
video{
    width: 100%;
    height: 100%;
}
.video-overlay{
    position: absolute;
    top:0;
    left: 0;
    background-color: blue;
    height: 102vh;
    width: 100%;
    opacity: .4;
    z-index:1;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index:2;
}
.hero-text h1{
    font-size: 3rem;
}